$text_header: #fff;
$text_header_hover: #d7d7d7;
$bg_header: rgba(70, 130, 180, 0.83);

$bg_menu: rgba(70, 130, 180, 0.83);

$title_post: #6395be;

$color_link: #fff;

$bg_footer: #6395be;
$bg_footer_border: rgba(255, 255, 255, 0.5);